<% content_for(:title, 'マイページ') %>
<div class="container pt-3">
<div class="row">
  <div class="col-md-10 offset-md-1">
    <h1 class="mypage"><%= "マイページ" %></h1>
       <table class="table text-center">
         <tr>
         <th scope="row"><%= "ユーザーネーム" %></th>
           <td><%= current_user.name %></td>
         </tr>
         <tr>
         <th scope="row"><%= "Eメール" %></th>
         <td><%= current_user.email %></td>
         </tr>
         <tr>
         <th scope="row"><%= "球団" %></th>
         <td><%= current_user.favorite_team_i18n %></td>
         </tr>
         <th scope="row"><%= "所持ポイント" %></th>
         <td><%= current_user.point %></td>
         <tr>
          <th scope="row">アバター</th>
          <% if current_user.avatar.present? %>
          <td><%= image_tag current_user.avatar.url, class: 'rounded-circle mr15', width: '40px', height: '40px' %></td>

         <% else %>
            <td><%= image_tag 'player.jpg', class: 'rounded-circle mr15', width: '40px', height: '40px' %></td>
         <% end %>

        </tr>
         <tr>
         <th scope="row"><%= "一言" %></th>
         <td><%=  current_user.introduction %></td>
         </tr>
       </table>
       <%= link_to "編集", edit_profile_path, class: 'cp_button09 ' %>
     </div>
     </div>
     </div>
     <div class="container pt-3">
     <div class="row">
       <div class="col-md-10 offset-md-1">
<h1 class="mypage"><%= "予想履歴" %></h1>
<table border="1" width="100" height="1000">
  <thead>
    <tr>
      <th scope="col">予想日時</th>
      <th scope="col">&thinsp;ユーザー&emsp;&thinsp;ネーム</th>
      <th scope="col">&emsp;試合</th>
      <th scope="col">予想スコア</th>
      <th scope="col">結果スコア</th>
      <th scope="col">&emsp;編集</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <% @my_expects.each do |e| %>
      <td> &ensp; <%=  l(e.created_at, format: :short)  %></td>
      <td> &ensp; <%= e.user.name %></td>
      <td>&thinsp;<%= e.game.team_a %>-<%= e.game.team_b %></td>
      <td>&emsp;<%= e.home_score %>-<%= e.away_score %></td>
      <td>&emsp;<%= e.game.result_home %>-<%= e.game.result_away %></td>
      <% if !e.game.match_time.nil? %>
      <td><%= link_to "編集",  edit_game_expect_path(e.game_id,id: e.id),class: 'cp_button09' %></td>
      <% else %>
      <td></td>
     <% end %>
     </tr>
     <% end %>
  </tbody>
</table>
<%= paginate @my_expects %>
   </div>
   </div>
 </div>
 </div>
 