<% content_for(:title, 'ユーザー一覧') %>
<div class="ichiran" >
<h1>ユーザー一覧</h1>
</div>
<%= render 'search' %>
<div class="margin">
<table class="table table-condensed"> 
    <thead>
    <tr>
    <th scope="col">ユーザーネーム</th>
    <th scope="col">球団</th>
    <th scope="col">一言</th>
  </tr>
</thead>
<tbody>
<thead>
    <tr>
    <% @users.each do |user| %>
        <% if user.avatar? %>
        <td><%= image_tag user.avatar.url,
                      class: 'rounded-circle',
                      id: 'preview',
                      size: '30x30' %>  
        <% else %>
       <td> <%= image_tag asset_path('player.jpg'), :size => '30x30' %>
        <% end %>
        <%= link_to  user.name  ,user_path(user) %></td>
        <td><%= user.favorite_team_i18n %></td>
        <td><%= user.introduction %></td>
      </tr>
    <% end %>
  </tbody>
  <div class="pagenate">
</table>
<%= paginate @users %>
</div>
</div>