<header>
    <h1 class="headline">
      <%= link_to "HALL OF FAME", root_path %>
    </h1>
    <ul class="nav-list">
			<li class="nav-list-item"><%= link_to "本日の試合", games_path %></li>
      <li class="nav-list-item"><%= link_to "ランキング" , rank_path %></li>
      </li>
    </ul>
  </header>

<div class="cp_fullscreenmenu">
<input type="checkbox" id="menuToggle" />

<label for="menuToggle" class="hamburger">
<div class="open"></div>
</label>

<div class="menu menuEffects">
<label for="menuToggle"></label>
<div class="menucont">
	<ul>
		<li><%= link_to '予想ページ' %></li>
		<li><%= link_to 'ユーザー一覧',users_path %></li>
		<li><%= link_to 'マイページ',profile_path(@user) %></li>
		<li><%= link_to 'ログアウト', logout_path,  method: :delete %></li>
	</ul>
</div>
</div>
</div>
