
 <div class="team-rank">
  <%= link_to '球団ポイント表',team_rank_path,class: "cp_button06" %>
  </div>
  <div class="fan-rank">
  <%= link_to '所属球団内ランク',fan_rank_path,class: "cp_button06" %>
  </div>
  <div class="rank">
  <h1>ランキング</h1>
  </div>
  <table class="table table-condensed"> 
      <thead>
      <tr>
      <th scope="col">順位</th>
      <th scope="col">ユーザーネーム</th>
      <th scope="col">球団</th>
      <th scope="col">ポイント数</th>
    </tr>
  </thead>
  <tbody>
  <thead>
      <tr>
      <% @rank.each.with_index(1) do |r,i| %>
        <td>  第 <%= i %> 位 </td>
        <td><%= r.name %></td>
        <td><%= r.favorite_team_i18n %></td>
        <td><%= r.point %></td>
        </tr>
        <% end %>
        </thead>
     </tbody>
    </table>
  </font>