<div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-9">
                    <div id="login-box" class="col-md-12">
                    <div class="direction">
<h1 class="contact">お問い合わせフォーム</h1>
<%= form_with model:@contact, url:contact_thanks_path, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
  <%= f.label :name , "名前"%>
<%= f.text_field :name, class: "form-control" %>
</div>
<div class="form-group">
<%= f.label :email , "Eメール"%>
<%= f.email_field :email, class: 'form-control' %>
</div>
<div class="form-group">
<%= f.label :subject , "用件"%>
<%= f.text_field :subject, class: 'form-control' %>
</div>
<div class="form-group">
<%= f.label :message ,'お問い合わせ内容' %>
<%= f.text_area :message, class: 'form-control' %>
<div class="actions">
<%= f.submit "送信", class: "cp_button13" %>
</div>
</div>
<% end %>
</div>
</div>
</div>
</div>
</div>
