<font color="#FFCCFF">
<table class="table table-condensed">
    
    <thead>
    <tr>
    <th scope="col">対戦</th>
    <% if !@game.match_time.nil? %>
    <th scope="col">試合開始時間</th>
    <% else %>
    <th scope="col">スコア</th>
    <% end %>
    <th scope="col">スタジアム</th>
  </tr>
</thead>
<tbody>
    <tr>
     
       <% @games.each do |g| %>
        <td><%= g.team_a %>VS.<%= g.team_b %></td>
      <% if !g.match_time.nil? %>
        <td><%= g.match_time %></td>
      <% else %> 
        <td><%= g.result_home %>-<%= g.result_away %></td>
      <% end %>
        <td><%= g.stadium %></td>
        <td><%= link_to "予想する" %></td>
    </tr>
        
       <% end %>
       
       </tbody>
      </div>
  </table>
</font>