<font color="#FFCCFF">
<h1>試合一覧</h1>
<table class="table table-condensed"> 
    <thead>
    <tr>
    
    <th scope="col">ステータス</th>
    <th scope="col">対戦</th>
    <th scope="col">試合開始時間</th>
    <th scope="col">スコア</th>
    <th scope="col">スタジアム</th>
  </tr>
</thead>
<tbody>
<thead>
    <tr>
    
       <% @games.each do |g| %>
        <td><%= g.status  %></td>
        <td><%= g.pitcher_a %><%= g.team_a %>
        VS.<%= g.team_b %><%= g.pitcher_b %></td>
        <td><%= g.match_time %></td>
        <td><%= g.result_home %>-<%= g.result_away %></td>
        <td><%= g.stadium %></td>
        
        <td><%= link_to "予想する", new_game_expect_path(g) %></td>
  
      </tr>
      <% end %>
      </thead>
   </tbody>
  </table>
</font>