
<div class="rank" >
<h1>試合予想一覧</h1>
</div>
<%= render 'search' %>
<table class="table hight="300">
  <thead>
    <tr>
      <th scope="col">球団</th>
      <th scope="col">名前</th>
      <th scope="col">試合</th>
      <th scope="col">予想スコア</th>
      <th scope="col">予想日時</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <% @expects.each do |e| %>
      <td><%= e.user.favorite_team_i18n %></td>
      <td><%= e.user.name %></td>
      <td><%= e.game.team_a %>-<%= e.game.team_b %></td>
      <td><%= e.home_score %>-<%= e.away_score %></td>
      <td><%= l(e.created_at, format: :short)%></td>
     </tr>
     <% end %>
    
  </tbody>
  <div class="pagenate">
  <%= paginate @expects %>
</table>
<%= paginate @expects %>
</div>
<div class="rank" >

</div>