<font color="black">
<div class="rank" >
<h1>予想一覧</h1>
</div>
<table class="table table-condensed">
  <thead>
    <tr>
      <th scope="col">球団</th>
      <th scope="col">ユーザーネーム</th>
      <th scope="col">試合</th>
      <th scope="col">予想スコア</th>
      <th scope="col">予想日時</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <% @expects.each do |e| %>
      <td><%= e.user.favorite_team_i18n %></td>
      <td><%= e.user.name %></td>
      <td><%= e.game.team_a %>-<%= e.game.team_b %></td>
      <td><%= e.home_score %>-<%= e.away_score %></td>
      <td><%= l(e.created_at, format: :long)%></td>
     </tr>
     <% end %>
    
  </tbody>
</table>
</font>