
<div class="text" >
<%= form_with model:@expect,url:game_expects_path, local: true do |f| %>
<div id="sampleDiv1" class="tblcell md">
<%= @game.team_a %><br><%= @game.pitcher_a %><br>
<% if !@game.match_time.nil? %>
<%= f.select :home_score, [[0,0],[1,1],[2,2],[3,3],[4,4],[5,5],[6,6],[7,7],[8,8],[9,9],[10,10],[11,11],[12,12],[13,13],[14,14],[15,15],[16,16],[17,17],[18,18],[19,19],[20,20],
[21,21],[22,22],[23,23],[24,24],[25,25],[26,26],[27,27],[28,28],[29,29],[30,30]] %>
<% end %>
</div>
<div id="sampleDiv2" class="tblcell md">
VS.
</div>
<div id="sampleDiv3" class="tblcell md">
<%= @game.team_b %><br><%= @game.pitcher_b %><br>
<% if !@game.match_time.nil? %>
<%= f.select :away_score, [[0,0],[1,1],[2,2],[3,3],[4,4],[5,5],[6,6],[7,7],[8,8],[9,9],[10,10],[11,11],[12,12],[13,13],[14,14],[15,15],[16,16],[17,17],[18,18],[19,19],[20,20],
[21,21],[22,22],[23,23],[24,24],[25,25],[26,26],[27,27],[28,28],[29,29],[30,30]] %>
<% end %>
</div>


<div  class="scores bt">
<% if !@game.match_time.nil? %>
<%= @game.match_time %><br>
<%= f.submit "予想" ,class: 'btn btn-primary'%>
<% else %> 
<%= @game.result_home %>-<%= @game.result_away %><br>
<% end %>
<% end %>
</div>
</div>

