<!DOCTYPE html>
<html>
  <head>
  <title><%= page_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 
  <body>
  <% if !current_page?(root_path)%>
    <%= render 'shared/header' %>
  <% end %>
    <%= yield %>
    <% if flash.any? %>
    <script type="text/javascript">
      <% flash.each do |key, value| %>
        <% key = "success" if key == "notice" %>
        <% key = "error" if key == "alert" %>
        toastr['<%= key %>']('<%= value %>');
      <% end %>
    </script>
  <% end %>
    <%= render 'shared/footer' %>
  </body>
</html>
