<!DOCTYPE html>
<html>
  <head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag  'top', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag  'phone_top', media: '(min-width: 310px) and (max-width: 639px)', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=0.7,shrink-to-fit=no">
  
  <%= favicon_link_tag('favicon2') %>
</head>
<body>
<div class="wf-sawarabimincho">
<%= yield %>
</div>
<%= render 'shared/footer' %>
</body>
</html>