<!DOCTYPE html>
<html>
  <head>
  <title><%= page_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag  'top', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag  'phone_top', media: '(min-width: 310px) and (max-width: 639px)', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=0.7,shrink-to-fit=no">
  
  <%= favicon_link_tag('favicon2') %>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LM775XJNB0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LM775XJNB0');
</script>
</head>
<body>
<div class="wf-sawarabimincho">
<%= yield %>
</div>
<%= render 'shared/footer' %>
</body>
</html>